<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
	integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
	integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
	crossorigin="anonymous"></script>

<title>Cadastro de Cursos</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/AlunosWeb/alunos">Alunos</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/AlunosWeb/cursos">Cursos</a></li>
					<li class="nav-item"><a class="nav-link" href="/AlunosWeb/matriculas">Matrículas</a>
					</li>
				</ul>
				>
			</div>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/AlunosWeb/alunos/create">Cadastro</a></li>
					<li class="nav-item"><a class="nav-link" href="/AlunosWeb/alunos">Listagem</a>
					</li>

				</ul>

			</div>
		</div>
	</nav>
	<div class="container">
		<form method="POST" action="/AlunosWeb/cursos/create" th:object="${curso}">
			<input type="hidden" th:value="${curso.id}" name="id" />

			<div class="mb-3">
				<label for="nome" class="form-label">Nome do Curso</label> <input
					type="text" class="form-control" name="nomeCurso"
					th:value="${curso.nomeCurso}">

			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Carga Horária</label> <input
					type="text" class="form-control" name="cargaHoraria"
					th:value="${curso.cargaHoraria}">
			</div>
			<button type="submit" class="btn btn-primary">Salvar</button>
		</form>
	</div>
</body>
</html>